<asset:stylesheet href = "bootstrap.min.css" />
<asset:stylesheet href = "style.css" />

<!-- Javascript in header so that page javascript gets to use it -->
<asset:javascript src = "jquery-2.1.3.min.js" />
<asset:javascript src = "bootstrap.min.js" />